
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        nav,footer{
            display:flex;
            justify-content:space-around;
            background-color: aqua;
            
        }
        footer{
            background-color: gray;
            position: relative;
            top: 80vh ;
        }
    </style>
</head>
<body>
    <nav>
        <p><a href="">Home</a></p>
        <p><a href="">about us</a></p>
        <p><a href="">contact us</a></p>
        <p><a href="">signup</a></p>
    </nav>
    

    <footer>
        <p>This is footer page</p>
    </footer>
</body>
</html>